<div style="background-color:#f1f4f7 ;">

  <nav class="navbar navbar-light">
    <a class="navbar-brand">
      <h3>SpaceX Launch Program</h3>

      </a>
    <form class="form-inline">
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="fnRefresh()"  type="button">Refresh</button>
    </form>
  </nav>
  <div class="row container-fluid">
    <div class="col-sm-3">
      <app-filters></app-filters>

    </div>
    <div class="col-sm-9">
      <app-view></app-view>

    </div>
  </div>


</div>